appdirs==1.4.4
astroid==2.8.4
black==21.9b0
certifi==2021.5.30
colorama==0.4.4
html-testRunner==1.2.1
xmlrunner==1.7.7
coverage==6.2.0
isort==5.9.3
Jinja2==3.0.2
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.0
pylint==2.11.1
regex==2021.10.23
tomli==1.2.2
typing-extensions==3.10.0.2
wincertstore==0.2
wrapt==1.13.2
